<style>
  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
</style>

<ion-view view-title="Tambah Hutang">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
      <div class="list">
        <form>

          <!-- debt amount -->
          <label class="item item-input">
            <span class="input-label">Jumlah (Rp) </span>
            <input type="text" ng-model="debt.amount">
          </label>

          <!-- creditor -->
          <label class="item item-input">
            <span class="input-label">Pemberi Hutang </span>
            <input type="text" ng-model="debt.creditor" uib-typeahead="contact.displayName for contact in allContacts | filter:{displayName:$viewValue} | limitTo:8">
          </label>

          <!-- due date -->
          <div ng-show="!dueDate">
            <button class="button button-small button-block button-calm" ng-click="addDueDate()">Tanggal Jatuh Tempo</button>
          </div>
          <div ng-show="dueDate">
            <button class="button button-small button-block button-calm" ng-click="addDueDate()">{{dueDate}}</button>
          </div>

          <!-- note -->
          <label class="item item-input">
            <span class="input-label">Catatan </span>
            <textarea ng-model="debt.note"></textarea>
          </label>
          
          <button type="submit" class="button button-small button-block button-positive" ng-click="addDebt(debt)">
            Tambah
          </button>
        </form>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
