<ion-view view-title="Tambah Piutang">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <form>

          <!-- credit amount -->
          <label class="item item-input item-floating-label">
            <input type="text" placeholder="Jumlah (Rp)" ng-model="credit.amount">
          </label>

          <!-- debtor -->
          <label class="item item-input item-floating-label">
            <input type="text" placeholder="Penerima Hutang" ng-model="credit.debtor">
          </label>

          <!-- due date -->
          <div ng-show="!dueDate">
            <button class="button button-small button-block button-calm" ng-click="addDueDate()">Tanggal Jatuh Tempo</button>
          </div>
          <div ng-show="dueDate">
            <button class="button button-small button-block button-calm" ng-click="addDueDate()">{{dueDate}}</button>
          </div>

          <!-- note -->
          <label class="item item-input item-floating-label">
            <textarea placeholder="Note" ng-model="credit.note"></textarea>
          </label>

          <button class="button button-small button-block button-positive"  ng-click="addCredit(credit)">
            Tambah
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
