<ion-view view-title="Piutang">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Jumlah : Rp {{creditDetail.amount}}</h2>
        <h3>Penerima Hutang : {{creditDetail.debtor}}</h3>
        <p>Note : {{creditDetail.note}}</p>
        <button class="button button-small button-block button-positive" ng-click="showConfirm()">
          Lunas
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
