<ion-view view-title="Dashboard">
  <ion-content fab-scroll-container>
    <ion-list>
      <!-- Hutang -->
      <div class="list card">
        <div class="item item-stable">
          Hutang
        </div>
        <!--<ion-item ng-hide="debtshghg">
          Silakan tambahkan daftar hutang dengan klik tombol plus (+)
        </ion-item>-->
        <ion-item ng-repeat="debt in debts" href="#/app/dashboard/debt/{{$index}}">
          <h2>{{debt.amount}}</h2>
          <p>{{debt.creditor}}</p>
          <p>{{debt.duedate}}</p>
        </ion-item>
      </div>


      <!-- Piutang -->
      <div class="list card">
        <div class="item item-stable">
          Piutang
        </div>
        <ion-item ng-repeat="credit in credits" href="#/app/dashboard/credit/{{$index}}">
          <h2>{{credit.amount}}</h2>
          <p>{{credit.debtor}}</p>
          <p>{{debt.duedate}}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <ion-fab ng-click="openPopover($event)">
    <i class="icon ion ion-android-add"></i>
  </ion-fab>
</ion-view>
