<ion-view view-title="Hutang">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Jumlah : Rp {{debtDetail.amount}}</h2>
        <h3>Pemberi Hutang : {{debtDetail.creditor}}</h3>
        <p>Note : {{debtDetail.note}}</p>
        <button class="button button-small button-block button-positive" ng-click="showConfirm()">
          Lunas
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
